.layout {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.layout-content {
	flex: 1;
	padding-top: 64px;
	padding-bottom: 10px;
}

@media (max-width: 600px) {
	.layout-content {
		padding-top: 0;
		padding-bottom: 75px;
	}
}
