.user-profile-name {
	font-size: 24px;
	font-weight: 600;
	color: var(--text);
	margin: 0;
}

.user-profile-id {
	font-size: 14px;
	color: var(--text-2);
	margin: 0;
}

.user-profile-placeholder {
	color: var(--text-2);
	line-height: 1.6;
	margin: 0;
	font-size: 22px;
	font-weight: 600;
	letter-spacing: 0.01em;
}

.user-profile-container {
	min-height: calc(100vh - 70px);
	padding: 0;
	padding-top: 25px;
	padding-left: 20px;
	padding-right: 20px;
}

.user-profile-content {
	min-height: calc(100vh - 95px);
}

.user-profile-content h1 {
	font-size: 32px;
}

.user-profile-avatar {
	width: 100px;
	height: 100px;
}

@media (max-width: 600px) {
	.user-profile-name {
		font-size: 20px;
	}

	.user-profile-placeholder {
		font-size: 18px;
	}

	.user-profile-container {
		min-height: auto;
		padding: 10px;
	}

	.user-profile-content {
		min-height: auto;
	}

	.user-profile-content h1 {
		font-size: 24px;
	}

	.user-profile-avatar {
		width: 60px;
		height: 60px;
	}
}
